NODE_ENV=dev
DATABASE_URL=

NUXT_PUBLIC_GOOGLE_ID=
NUXT_GOOGLE_CLIENT_SECRET=
NUXT_GOOGLE_REDIRECT_URI=

NUXT_S3_HOST=
NUXT_S3_PORT=
NUXT_S3_ACCESS_KEY=
NUXT_S3_SECRET_KEY=
NUXT_S3_BUCKET_DEFAULT=
NUXT_S3_USE_SSL=false

NUXT_MAIL_HOST=smtp.gmail.com
NUXT_MAIL_PORT=587
NUXT_MAIL_SECURE=false
NUXT_MAIL_AUTH_USER=
NUXT_MAIL_AUTH_PASS=

NUXT_SEPAY_ID=
NUXT_SEPAY_KEY=
NUXT_SEPAY_ENV=sandbox